@using Infoblog.Models
@model FormalPostViewModel

<h2>Formell Blogg</h2>

<hr />
@foreach (var p in Model.Posts)
{
    <h3>@p.Title</h3>
    <p>@p.Content</p>
    <span class="text-info">@p.Author</span>
    <span class="text-info">@p.Date</span>
<hr />
}

@Html.Partial("WritePost")


