@model Infoblog.Models.EducationPostModel

@using (Html.BeginForm("Post", "Education", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Skapa en ny utbildningpost</h4>
    <hr />
    @Html.HiddenFor(m => m.Author, Model.Author);
    @Html.HiddenFor(m => m.Date, Model.Date);
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, 10, 100, new { @class = "form-control" });
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Skicka" />
        </div>
    </div>
}
