@model Infoblog.Models.ScienceModel


@using (Html.BeginForm("AddSciencePost", "Science", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Skapa ett nytt forskningsinlägg</h4>
        <hr />

        @Html.HiddenFor(sp => sp.Author, Model.Author)
        @Html.HiddenFor(sp => sp.Date, Model.Date)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(sp => sp.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(sp => sp.Title, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(sp => sp.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(sp => sp.Content, 10, 100, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skicka" class="btn btn-default" />
            </div>
        </div>
    </div>
}


