@model Infoblog.Models.ScienceViewModel

@{
    ViewBag.Title = "ShowSciencePosts";
}

<h2>Visa Forskningsinlägg</h2>

@using (Html.BeginForm("AddSciencePost", "Science", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lägg till ett inlägg</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="form-group">
                @Html.Label("Titel", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("title", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Meddelande", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("content", new { rows = 5, @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa" class="btn btn-default" />
            </div>
        </div>
    </div>

    <hr />
    <h3>Senaste blogginläggen</h3>

    <div>
        @if (Model.SciencePosts.Count() == 0)
        {
            <p>Det finns för närvarande inga inlägg i listan.</p>
        } else
        {
            foreach (var post in Model.SciencePosts)
            {
                <h3>@post.Title</h3>
                <br />
                <p>@post.Content</p>
                <br />
                <h4>@post.Author</h4>
                <hr />
            }
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
