@model Infoblog.Models.Meetings.MeetingTime
@using HtmlHelpers.BeginCollectionItem


@helper createDropBoxes()
{
    <div class="form-group">
        <div class="col-md-10">
            @{
                var hours = new List<SelectListItem>();
                for (int i = 0; i < 24; i++)
                {
                    string displayTxt;
                    if (i < 10)
                    {
                        displayTxt = "0" + i;
                    }
                    else
                    {
                        displayTxt = i.ToString();
                    }
                    hours.Add(new SelectListItem()
                    {

                        Text = displayTxt,
                        Value = i.ToString()
                    });
                }

                var minutes = new List<SelectListItem>();
                for (int i = 0; i < 60; i++)
                {
                    string displayTxt;
                    if (i < 10)
                    {
                        displayTxt = "0" + i;
                    }
                    else
                    {
                        displayTxt = i.ToString();
                    }
                    minutes.Add(new SelectListItem()
                    {

                        Text = displayTxt,
                        Value = i.ToString()
                    });
                }
            }

            @Html.DropDownList("lstHours", hours, "Timmar")
            @Html.DropDownList("lstMinutes", minutes, "Minuter")
        </div>
    </div>
}


<buton id="btnAddMeetingTime">Lägg till</buton>

@using (Html.BeginCollectionItem("MeetingTimes"))
{
    <div class="meetingTimeRow">
        @createDropBoxes();
        @Html.HiddenFor(m=> m.Start, new { id = "start-time"})
        @Html.HiddenFor(m => m.End, new { id = "end-time" })
        @Html.EditorFor(m => m.Date)
        <a href="#" id="add-new-time">Lägg till tid</a>
        <a href="#" class="deleteRow">Ta bort</a>
    </div>
}

@Html.HiddenFor(m => m.Start)
@Html.HiddenFor(m => m.End)

    <script>
        $(function () {
            $('#add-new-time').on("click", function (ev) {
                
                ev.preventDefault();
                var hour = $('#lstHours').val();

                $('#Start').val(hour);
            });

            $("a.deleteRow").live("click", function () {
                $(this).parents("div.employeeRow:first").remove();
                return false;
            });
        });

    </script>
