@model Infoblog.Models.Meetings.AllMeetingsViewModel
@{
    ViewBag.Title = "Möten";
}

<h2>Mina skapade möten</h2>
<p>@Html.ActionLink("Skapa nytt möte", "Create", null, new { @class = "btn btn-default" })</p>
<hr />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Skapad av</th>
            <th>Tid</th>
        </tr>
    </thead>

    @if (Model.CreatedMeetingPolls != null && Model.CreatedMeetingPolls.Count > 0)
    {

        foreach (var m in Model.CreatedMeetingPolls)
        {
            <tr>
                <td>@Html.ActionLink(m.Title, "PollResult", new { Id = m.Id })</td>
                <td>@m.Author.FirstName @m.Author.LastName</td>
                <td>Omröstning pågår</td>
            </tr>
        }
    }

    @if (Model.CreatedMeetings != null && Model.CreatedMeetings.Count > 0)
    {
        foreach (var m in Model.CreatedMeetings)
        {
            <tr>
                <td>@Html.ActionLink(m.Title, "View", new { Id = m.Id })</td>
                <td>@m.Author.FirstName @m.Author.LastName</td>
                <td>@String.Format("{0:yyyy/MM/dd: HH:mm}", m.Start) - @String.Format("{0:HH:mm}", m.End)</td>
            </tr>
        }
    }
</table>


<h2>Mina mötesinbjudningar</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Skapad av</th>
            <th>Tid</th>
        </tr>
    </thead>
    @if (Model.InvitedMeetingPolls != null && Model.InvitedMeetingPolls.Count > 0)
    {
        foreach (var m in Model.InvitedMeetingPolls)
        {

            <tr>
                <td>@Html.ActionLink(m.Title, "ViewVote", "Vote", new { meetingPollId = m.Id })</td>
                <td>@m.Author.FirstName @m.Author.LastName</td>
                <td>Omröstning Pågår</td>
            </tr>
        }
    }

    @if (Model.InvitedMeetings != null && Model.InvitedMeetings.Count > 0)
    {
        foreach (var m in Model.InvitedMeetings)
        {
            <tr>
                <td>@Html.ActionLink(m.Title, "View", new { Id = m.Id })</td>
                <td>@m.Author.FirstName @m.Author.LastName</td>
                <td>@String.Format("{0:yyyy/M/d HH:mm}", m.Start) - @String.Format("{0:HH:mm}", m.End)</td>
            </tr>
        }

    }
</table>
