@using Infoblog.Models
@model Infoblog.Models.MeetingPoll
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="cool">

    <hr />
    <div id="cool2"> <span id="question">Vilken tid passar er bäst?</span></div>
    <br />
    <div id="coool">
        <h2 id="author">@Model.Author.FirstName&nbsp;@Model.Author.LastName</h2>
        <div id="cool3">
            <p2>Mötestitel:&nbsp;@Model.Title</p2>
            <p id="content">@Model.Content</p>
        </div>
        @if (Model.Participants != null)
        {
            <div id="container">
                <form id="myForm">
                    @foreach (var p in Model.PollOptions)
                    {
                        var hasVoted = p.UserVotes.Select(x => x.Email).ToList().Contains(User.Identity.Name);
                        <div>
                            <span>@p.Votes</span><button id="B1"
                                                         type="submit"
                                                         disabled=@hasVoted
                                                         @*data-voted="false"*@
                                                         data-votes="@p.Votes"
                                                         data-pollOption="@p.Id"
                                                         data-poll="@p.MeetingPollId">
                            @if (hasVoted) {<span>&#9989</span>}
                            else { <span>Rösta</span> }
                            </button>@p.Start - @p.End
                        </div>
                    }
                </form>
            </div>
        }
    </div>
</body>

@section scripts {
    <script>
        $('#myForm').on('submit', function (e) {
            e.preventDefault(); //Prevent normal form behavior
            
            let btn = $("#B1");
            
            
            let vote = btn.data("votes") + 1;
            let pollOption = btn.data("polloption");
            let poll = btn.data("poll");
            if (poll !== null) {
                $.get('/api/controller/vote/add?pollId=' + poll + '&votes=' + vote + '&pollOptionId=' + pollOption,
                    function () {
                        window.location.reload();
                    }
                );
            }

        });
    </script>
}