@using Infoblog.Models
@model Infoblog.Models.MeetingPoll
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="cool">

    <hr />
    <div id="cool2"> <span id="question">Vilken tid passar er bäst?</span></div>
    <br />
    <div id="coool">
            <h2 id="author">@Model.Author.FirstName&nbsp;@Model.Author.LastName</h2>
            <div id="cool3">
                <p2>Mötestitel:&nbsp;@Model.Title</p2>
            <p id="content">@Model.Content</p>
            </div>
            @if (Model.Participants != null)
            {
                <div id="container">
                    @*<form>*@
                        @foreach (var p in Model.PollOptions)
                        {
                            <div><span>@p.Votes</span><button id="B1" data-voted="false" data-votes="@p.Votes">Rösta</button>@p.Start-@p.End</div>

                        }
                       @* <input type="submit" />
                    </form>*@
                </div>
            }
    </div>
</body>

@section scripts {
    <script>
       /* if (this.data("voted") == true)
        {
            $(document).ready(function () {
                let votes = $(this).data("votes");

            });
        }*/

        $(document).ready(function () {
            $("#container div button").click(function () {
                let voted = $(this).data("voted");
                let voteIndicator = $(this).prev();
                if (voted) {
                    $(this).parent().animate({
                        width: '-=100px'
                    }, 500);
                    voteIndicator.html(parseInt(voteIndicator.html()) - 1);
                    $(this).data("voted", false);
                    return;
                }
                $(this).parent().animate({
                    width: '+=100px'
                }, 500);
                voteIndicator.html(parseInt(voteIndicator.html()) + 1)
                $(this).data("voted", true);
            });
        });
    </script>
}