@using Infoblog.Models
@model Infoblog.Models.MeetingPoll
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="cool">

    <hr />
    <div id="cool2"> <span id="question">Vilken tid passar er bäst?</span></div>
    <br />
    <div id="coool">
        <h2 id="author">@Model.Author.FirstName&nbsp;@Model.Author.LastName</h2>
        <div id="cool3">
            <p2>Mötestitel:&nbsp;@Model.Title</p2>
            <p id="content">@Model.Content</p>
        </div>
        @if (Model.Participants != null)
        {
            <div id="container">
                <form id="myForm">
                    @foreach (var p in Model.PollOptions)
                    {
                        <div><span>@p.Votes</span><button id="B1"   
                                                          data-voted="false" 
                                                          data-votes="@p.Votes"
                                                          data-pollOption="@p.Id"
                                                          data-poll="@p.MeetingPollId">
                        Rösta</button>@p.Start-@p.End</div>

                    }

                </form>
            </div>
        }
    </div>
</body>
@*Hej*@

@section scripts {
    <script>
        $('#B1').on('click', function() {
                let vote = $(this).data("votes")++;
                let pollOption = $(this).data("pollOption");
                let poll = $(this).data("poll");
                if (poll !== null) {
                    $get(
                        'api/controller/vote/add?poll=' + poll
                        + '&votes' + vote  + '&pollOptionId' + pollOption,
                        function () {
                            window.location.reload();

                        }
                    );
                }
        
        });
    </script>
}


